@font-face {
  font-family: "OCRB";
  src: url("../font/OCRB.ttf");
  src: url("../font/OCRB.ttf") format('truetype');
}

html, body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "OCRB";
}

.scrollcontainer {
  overflow: scroll;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.images {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  width: 100%;

  .cell {
    display: flex;
    height: auto;
    width: auto;
    flex: 0 33%;

    img {
      width: 100%;
      height: 100%;
    }

    &.new {
      font-weight: bold;
      background-color: #000;
      color: white;
      font-size: 50px;
      text-align: center;
      vertical-align: middle;
      min-height: 50px;

      span {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        margin-top: 20%;
      }
    }

    &.empty {

    }
  }
}

.clementine {
  background-color: #fff;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.blockedmessage {
  display: none;
  position: fixed;
  color: #ff4c4c;
  top: 0;
  left: 0;
  font-weight: bold;
  padding: 30px;
  background: #000;
}

.overlay {
  background-color: #0a0a0a;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: none;

  .info {
    color: white;
    margin: 20px;
  }

  .game {
    border: none;
    margin: 20px;
  }
}